$mainWhite: #fff;
$mainBlue: #00AADD;
$mainOrange: #DB5E00;
$mainGray: #808080;
$mainBlack: #000;
$lightGray: #969691;
$grayBlue: #559AC8;
$lightPurple: #8A82CC;
$lightOrange: #FFA782;
$happyYellow: #F5D105;
